{% extends 'base.html' %} {% block title %}New Post{% endblock %} {% block
content %}
<h2>Add Post for {{user.first_name}} {{user.last_name}}</h2>

<form method="POST" action="/users/{{ user.id }}/posts/new">
  <div>
    <label for="title">Title</label>
    <input name="title" required />
  </div>
  <div>
    <label for="content">Content</label>
    <textarea name="content" rows="4" cols="30"></textarea>
  </div>
    {% for tag in tags %}
    <input type="checkbox" name="tag_id" value="{{ tag.id }}"/><label for="tag_id">{{ tag.name}} </label>
    {% endfor %}
    <br>
  <button type="submit">Add</button>
</form>
<a href="/users/{{ user.id }}">
  <button>Cancel</button>
</a>
{% endblock %}
